@media screen and (max-width: 830px) {
    /* main.css */
    main {
        margin-top: 0px;
        margin-right: 0%;
        margin-left: 0%;
    }

    /* header.css */
    header{
        height: 25vh;
        margin-right: 0%;
        margin-left: 0%;
    }

    /* menu.css */
    .menu p{
        font-size: 7vh;
    }

    /* menu.css */
    a.btn--yellow {
        font-size: 45px;
    }
}