.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  /*background-color: rgb(255, 218, 138,0.3);*/
}

b{
  display:inline; background-color:rgb(173, 244, 247,0.5);
}

input[type=radio] {
  display: none;
}

.inner_slider {
  /* height: 100px; */
  position: relative;
}
    
.img1 {
  position: absolute;
  /* color: rgba(255, 0, 0, 10); */
  font-size: 20px;
  left: 0;
  top: 20px;

  border: 1px solid rgb(93, 93, 93);
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.img1:hover{
  background: -webkit-gradient(linear, left bottom, left top, from(#81757581), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #81757581 0%, #ebedee 100%);
  background: linear-gradient(to top, #d3cecec7 0%, #ebedee 100%);
}


.img2 {
  position: absolute;
  width: 100px;
  /* height: 100px; */
  left: 2000px;
  /* top: -220px; */
  top: -380px;
}

.img3 {
  position: absolute;
  /* width: 137vh; */
  width: 100%;
  /* height: 100%; */
  height: 75vh;

  left: 2000px;
  /* top: -190px; */
  top: -345px;
}

a.btn--bak {
  color: #FFF;
  font-size: 30px;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
}

.inner_slider {
  position: relative;
  /* width: 800px; */
  /* width: 100%; */
  height: 10vh;
  left: 0;
  top: 0;
  transition: all .3s ease-in-out;
}

#radio_slider1:checked ~ .inner_slider {
  transform: translateX(0);
}

#radio_slider2:checked ~ .inner_slider {
  transform: translateX(-2000px);
}

.box11{
  padding: 0.5em 1em;
  /*margin: 2em 0;*/
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
/*
.box11 p {
  margin: 0; 
  padding: 0;
}*/
/* .img3、.img4も同じように… */