/* スマホ縦画面 */
@media screen and (max-width: 740px) {
  header{
    height: 20vh;/*高さ制限*/
    margin-right: 0%;
    margin-left: 0%;
  }

  /* menu.css */
  .menu p{
    font-size: 6vh;
  }
  /* menu.css */
  a.btn--yellow {
    font-size: 40px;
  }

}

@media screen and (max-width: 670px) {
  /* header.css */
  header{
      height: 20vh;/*高さ制限*/
      margin-right: 0%;
      margin-left: 0%;
  }

  /* menu.css */
  .menu p{
      font-size: 6vh;
  }

  /* menu.css */
  a.btn--yellow {
      font-size: 40px;
  }

  /* schoolFeatur.css */
  .background{
      width:100%; 
      height:13vh;
  }

  .subtitle:first-line {
    font-size: 35px;
  }

  .background > .subtitle{
    font-size: 20px;
  }



}

@media screen and (max-width: 480px) {
  header{
    height: 15vh;/*高さ制限*/
    margin-right: 0%;
    margin-left: 0%;
}

  /* menu.css */
  .menu p{
    font-size: 2vh;
  }
  a.btn--yellow {
      font-size: 4vh;
    }

    .msr_newslist02 li {
      font-size: 14px;
    }

    .msr_newslist02 li div {
      width: 144px;
    }

    .msr_newslist02 li time {
      padding-right: 0px;
    }

    /* カテゴリの設定 */
.msr_newslist02 li .cat01,
.msr_newslist02 li .cat02 {
  font-size: 9px;
}

.background{
  width: 100%;
  height: 0;
  padding-top: 25%;
}
  .background > .subtitle{
    white-space: nowrap;
    font-size: 20px;
  }

  .subtitle:first-line {
    font-size: 30px;
  }

  .topic{
    font-size: 20px;
  }

  .topic > span {
    font-size: 30px;
    color: #fff;
  }
}