/* スマホ縦画面 */
@media screen and (max-width: 480px) {
  main {
    margin-right: 0px;
    margin-left: 0px;
  }
  .news{
    margin-right: 0%;
    margin-left: 0%;
  }

  header{
    height: 10vh;/*高さ制限*/
    margin-right: 0%;
    margin-left: 0%;
  }

  /* menu.css */
  .menu{
    text-align: center;
  }

  /* menu.css */
  .menu p{
    font-size: 1.8vh;
  }

  /* menu.css */
  .zone{
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0px;
    display: inline-block;
    }

    /* menu.css */
    a.btn--yellow {
      font-size: 3.5vh;
    }

  .msr_newslist02 li {
    font-size: 14px;
  }

  .msr_newslist02 li div {
    display: table-cell;
    width: 144px;
  }

  .msr_newslist02 li .cat01,
.msr_newslist02 li .cat02 {
  font-size: 9px;
  width: 40px;
}

/* 時間の設定 */
.msr_newslist02 li time {
  padding-right: 0px;
}

.msr_newslist02 li p {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}
/*
  .background{
    padding-top: 30%;
  }
*/

/*
  .background > .subtitle{
    white-space: nowrap;
    font-size: 20px;
  }

  .subtitle:first-line {
    font-size: 30px;
  }

  .topic{
    font-size: 20px;
  }

  .topic > span {
    font-size: 30px;
    color: #fff;
  }
  */
}