/*現スマホ対応のため後日修正*/
/*対応不要？*/

/* 黒板風*/
.kokuban-s2 {
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    font-weight: bolder; 
    font-size: 18px;
    line-height:20px;
    position: relative;
    width: 85%; /* ボックス幅 */
    background: #006633; /* ボックス背景色 */
    color: #fff; /* 文章色 */
    border: 8px solid #b2771f; /* 枠線 */
    border-radius: 3px; /* 角の丸み */
    box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
    margin: 2em auto;
    padding: 1em;
   }

   /*チョーク*/
   .kokuban-s2::before,
   .kokuban-s2::after {
    position: absolute;
    content: '';
    bottom: 0;
   } 
   .kokuban-s2::before {
    width: 20px; 
    right: 10px;
    border: solid 3px #ffff00; /*チョーク（黄色）*/
    border-radius: 3px 2px 0 2px;
   }
   .kokuban-s2::after {
    width: 15px; 
    right: 45px;
    border: solid 3px #fff; /*チョーク（白） */
    border-radius: 8px 5px 2px 5px;
   }

   @media screen and (max-width: 1280px) {
    .kokuban-s2::after {
      border: solid 3px red;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .kokuban-s2::after {
      border: solid 3px orange;
    }
  }
  
  @media screen and (max-width: 800px) {
    .kokuban-s2::after {
      border: solid 3px yellow;
    }
  }
  
  @media screen and (max-width: 768px) {
    .kokuban-s2::after {
      border: solid 3px green;
    }
  }
  
  @media screen and (max-width: 600px) {
    .kokuban-s2::after {
      border: solid 3px cyan;
    }
  }
  
  @media screen and (max-width: 540px) {
    .kokuban-s2::after {
      border: solid 3px blue;
    }
  }
  
  @media screen and (max-width: 480px) {
    .kokuban-s2::after {
      border: solid 3px purple;
    }
  }
  
  @media screen and (max-width: 320px) {
    .kokuban-s2::after {
      border: solid 3px white;
    }
  }

  /* ------------------------------------------------------------------- */

  @media screen and (min-height: 500px) {
    .kokuban-s2::before  {
      border: solid 3px red;
    }
  }

  @media screen and (min-height: 600px) {
    .kokuban-s2::before  {
      border: solid 3px orange;
    }
  }

  @media screen and (min-height: 700px) {
    .kokuban-s2::before  {
      border: solid 3px yellow;
    }
  }

  @media screen and (min-height: 800px) {
    .kokuban-s2::before  {
      border: solid 3p green;
    }
  }

  @media screen and (min-height: 1000px) {
    .kokuban-s2::before  {
      border: solid 3px cyan;
    }
  }

  @media screen and (min-height: 1100px) {
    .kokuban-s2::before  {
      border: solid 3px blue;
    }
  }

  @media screen and (min-height: 1200px) {
    .kokuban-s2::before  {
      border: solid 3px purple;
    }
  }

  @media screen and (min-height: 1300px) {
    .kokuban-s2::before  {
      border: solid 3px white;
    }
  }