@charset "utf-8";
html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 255, 230);
}

main {
  /* クラス外側余白 */
  margin-top: 10px;
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 15px; /* 角の丸み */

  /* クラス内側余白 */
  padding: 10px;
  background-color: rgb(255, 255, 255);
}