/*現スマホ対応のため後日修正*/

.menu{
  text-align: center;
  /*
  display: flex;
  flex-direction: column;
  */
}

.menu p{
  color: #fff;
  text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 5px 5px #fff;
  transform: rotate(-0deg);
  text-align: center;
  font-size: 5vh;
  margin-bottom: 0px;
}

@media screen and (min-height: 700px){
  .menu p{
    font-size: 4vh;
  }
}

@media screen and (max-width: 768px) {
   .menu p{
      font-size: 3vh;
  }
}

@media screen and (min-width: 770px) and (max-width: 830px) {
  .menu p{
    font-size: 7vh;
  }
}
@media screen and (min-height: 1300px){
  .menu p{
    font-size: 2vh;
  }
}

.zoneChild{
  display: flex;
  justify-content:center;
  /* 折返し指定 */
  flex-wrap: wrap;
  /* 折り返し時の配置指定 */ 
  align-content:center;
  line-height:40px;
}

/* 追加 */
.zoneChild_item{
  width: 40%;
}

.zoneChild_item-Long{
  width: 60%;
}

a.btn--yellow {
  /* 追加 */
  display: block;
  /* オレンジ部分　表示領域設定 */
  width: 70%;
  /* 中央寄せ */
  margin: 5px 150px;

  color: #FFF;
  font-size: 20px;
  background-color: #f88e42;
  text-decoration: none;
}

a.btn--yellow-Long {
  /* 追加 */
  display: block;
  /* オレンジ部分　表示領域設定 */
  width: 75%;
  /* 中央寄せ */
  margin: 5px 50px;

  color: #FFF;
  font-size: 20px;
  background-color: #f88e42;
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  a.btn--yellow {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  a.btn--yellow {
    font-size: 45px;
  }
}

@media screen and (min-height: 700px) {
  a.btn--yellow, a.btn--yellow-Long{
    font-size: 30px;
  }
}

/*以下オプションのため変更不要？*/
a.btn--red.btn--cubic {
  border-bottom: 5px solid #9f000c;
}

a.btn--red.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #9f000c;
}

a.btn--radius {
  border-radius: 15px;
}
/*
.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}
*/

@media screen and (max-width: 768px) {

  .zoneChild_item{
    width: 40%;
  }
  
  .zoneChild_item-Long{
    width: 60%;
  }

  a.btn--yellow {
    /* オレンジ部分　表示領域設定 */
    width: 70%;
    /* 中央寄せ */
    margin: 5px 80px;
    font-size: 20px;
  }
  
  a.btn--yellow-Long {
    /* オレンジ部分　表示領域設定 */
    width: 75%;
    /* 中央寄せ */
    margin: 5px 20px;
    font-size: 30px;
  }
    
}

@media screen and (max-width: 480px) {

  .zoneChild_item{
    width: 40%;
  }
  
  .zoneChild_item-Long{
    width: 60%;
  }

  a.btn--yellow {
    /* オレンジ部分　表示領域設定 */
    width: 70%;
    /* 中央寄せ */
    margin: 5px 30px;
    font-size: 17px;
  }
  
  a.btn--yellow-Long {
    /* オレンジ部分　表示領域設定 */
    width: 75%;
    /* 中央寄せ */
    margin: 5px 20px;
    font-size: 17px;
  }
    
}
