/*現スマホ対応のため後日修正*/

.menu{
  text-align: center;
  /*
  display: flex;
  flex-direction: column;
  */
}

.menu p{
  color: #fff;
  text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 5px 5px #fff;
  transform: rotate(-0deg);
  text-align: center;
  font-size: 4vh;
  margin-bottom: 20px;
}

@media screen and (min-height: 700px){
  .menu p{
    font-size: 3.5vh;
  }
}

@media screen and (max-width: 768px) {
   .menu p{
      font-size: 3vh;
  }
}

@media screen and (min-width: 770px) and (max-width: 830px) {
  .menu p{
    font-size: 7vh;
  }
}
@media screen and (min-height: 1300px){
  .menu p{
    font-size: 2vh;
  }
}

/*本体*/
/*ボタン位置　無理やりのため今後課題*/
/* .zone{
  display: inline-block; */
  /* margin-left: 25%;
  margin-right: 25%;
  margin-bottom: -10px; */
/* } */

.zoneChild{
  display: flex;
  justify-content:center;
  /* 折返し指定 */
  flex-wrap: wrap;
  /* 折り返し時の配置指定 */ 
  align-content:center;
}

/* 追加 */
.zoneChild_item{
  width: 50%;
}

a.btn--yellow {
  /* 追加 */
  display: block;
  /* オレンジ部分　表示領域設定 */
  width: 75%;
  /* 中央寄せ */
  margin: 10px auto;

  color: #FFF;
  font-size: 40px;
  background-color: #f88e42;
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  a.btn--yellow {
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  a.btn--yellow {
    font-size: 45px;
  }
}

@media screen and (min-height: 700px) {
  a.btn--yellow {
    font-size: 50px;
  }
}

/*以下オプションのため変更不要？*/
a.btn--red.btn--cubic {
  border-bottom: 5px solid #9f000c;
}

a.btn--red.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #9f000c;
}

a.btn--radius {
  border-radius: 15px;
}
/*
.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}
*/