.menu{
  display: flex;
  flex-direction: column;
}

.menu p{
  color: #fff;
  text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 5px 5px #fff;
  transform: rotate(-0deg);
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
}
/*主な共通部分は省略*/
a.btn--yellow {
  color: #FFF;
  font-size: 30px;
  margin-left: 20p;
  margin-right: 20p;
  background-color: #f88e42;
  text-decoration: none;
}

a.btn--red.btn--cubic {
  border-bottom: 5px solid #9f000c;
}

a.btn--red.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #9f000c;
}

a.btn--radius {
  border-radius: 15px;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}