/* スマホ縦画面 */
@media screen and (max-width: 380px) {

  header{
    height: 8vh;/*高さ制限*/
    margin-right: 0%;
    margin-left: 0%;
  }
  /* menu.css */
  .menu p{
    font-size: 1.8vh;
  }
  a.btn--yellow {
      font-size: 3.8vh;
    }
  .background > .subtitle{
    white-space: nowrap;
    font-size: 2.8vh;
  }
}