.teacher{
  display: inline-block;
  width: 100%;
  height: auto;

  margin-top: 10px;
}

/* 吹き出し右側 */
.ballonn_content_right {
  display: flex;
}

/* 画像 */
.ballonn_content_right .icon {
  display: inline-block;
  width: 20%;
}

.ballonn_content_right .icon img {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 5px;
}

/* 吹き出し本体 */
.balloon_right {
  display: inline-block;
  position: relative;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  color: black;
  background-color: white;
  /* 左に余白を設ける */
  margin-left: 1.5%;
  margin-right: 10px;
  margin-bottom: 10px;

  /* 行間設定 */
  line-height: 150%;
}

/* 三角アイコン */
.balloon_right::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -1.5%;
  top: 20px;
  border-right: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}


/* 吹き出し左側 */
.ballonn_content_left {
  display: flex;
}

.balloon_left {
  display: inline-block;
  position: relative;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  color: black;
  background-color: white;
  margin-right: 3%;
  /* 右に余白を設ける */
  margin-left: 10px;
  margin-bottom: 10px;
}

/* 画像 - 絶対配置で右上に配置 */
.balloon_left .icon {
  display: inline-block;
  position: absolute;
  width: 10%;
}

.ballonn_content_left .icon img {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 5px;
}

/* 三角アイコン */
.balloon_left::before {
  display: inline-block;
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -1.5%;
  top: 20px;
  border-left: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
